<section>
  <div class="form" id="myForm">
    <form action="/sign" class="form-container" method="POST">
      <fieldset id="logField">
        <h1>Contact Us</h1>

        <label for="fname"><b>*First Name</b></label>
        <input type="text" placeholder="Enter first name" tabindex="1" maxlength="25"name="firstName" autocomplete={{firstName}} >
        <p id="errorsS">{{error1}}</p>

        <label for="lname"><b>*Last Name</b></label>
        <input type="text" placeholder="Enter last name" name="lastName"value={{lastName}} >
        <p id="errorsS">{{error2}}</p>

        <label for="email"><b>*Email Adress</b></label>
        <input type="text" placeholder="Enter Email" name="email" value={{email}} >
        <p id="errorsS">{{error3}}</p>
        
          <label for="address"><b>*Adress</b></label>
        <input type="text" placeholder="Enter Address" name="email" value={{email}} >
        <p id="errorsS">{{error4}}</p>
               
       
      <label for="postalCode"><b>*Postal Code</b></label>
      <input
        id="form-control"
        name="Postalcode"
        autocomplete="Postal-Code"
        type="text"
        tabindex="4"
        pattern="^[A-Za-z]\d[A-Za-z][ -]?\d[A-Za-z]\d$"
          required
      >
      <br>
      <label>
          <b id="redstar">*</b>Your message:
          <textarea
            name="message"
            required
            id="contact"
            
            rows="10"
            cols="20"
            tabindex="8"
                 placeholder="Please enter message.."
          ></textarea>
        </label>
      


        <button type="submit" class="btn">Send</button>


</section>

    