<section>


   <div class="pageDescription">
      <div>
         <p id="title"> {{product.title}}</p>
         <p id="image"><img src={{product.src}} />
         </p>
      
      </div>
      <div class="rating">
         <span id="rating" class="fa fa-star checked"></span>
         <span id="rating" class="fa fa-star checked"></span>
         <span id="rating" class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>

      </div>

      <p id="desc"> {{product.description}} </p>
      <p id="price"><button class="add" :hover onclick="myFunction()">BUY <p> $ {{product.buyPrice}}</p></button>
         <button class="add" :hover onclick="myFunction()">RENT <p> $ {{product.rentalPrice}}</p></button>

      </p>
      <p>
         <a href="{{product.trailer}}">Trailer</a>



      </p>

   </div>





</section>