<section>
  <div class="form" id="myForm">
    <form action="/user/sign" class="form-container" method="POST" enctype="multipart/form-data">
      <fieldset id="logField">
        <h1>Create Account</h1>
    
        <label for="email"><b>*First Name</b></label>
        <input type="text" placeholder="Enter first name" tabindex="1" maxlength="25" name="firstName" value={{firstName}} >
           {{#if error1}}
        <p id="errorsS">{{error1}}</p>
        {{/if}}
      
        <label for="email"><b>*Last Name</b></label>
        <input type="text" placeholder="Enter last name" name="lastName"value={{lastName}} >
          
            {{#if error2}}
      <p id="errorsS">{{error2}}</p>
       {{/if}}
    
        <label for="email"><b>*Email Adress</b></label>
        <input type="text" placeholder="Enter Email" name="email" value={{email}} >
           {{#if error3}}
        <p id="errorsS">{{error3}}</p>
   {{/if}}
  
        <label for="psw"><b>*Create Password</b></label>
        <input id="psw" type="password" placeholder="Enter Password" name="psw" value={{psw}} >
         {{#if error4}}
        <p id="errorsS">{{error4}}</p>
   {{/if}}
        <button type="submit" class="btn">Sign Up</button>


</section>
