<section>
  <div class="slideShow">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides">
      <img id="slideImg" src="https://images2.vudu.com/assets/page/banner/187042-1305"  >
    </div>

    <div class="mySlides">
      <img id="slideImg" src="https://images2.vudu.com/assets/mixMatch/banner/187058-1305">
    </div>
    <div class="mySlides">
      <img id="slideImg" src="https://images2.vudu.com/assets/page/banner/187022-1305">
    </div>


  </div>


  <!-- The dots/circles -->
  <div style="text-align:center"> 
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>


  </div>

 
 <a id="containerAll" href="Movie/movie">Featured Movies </a>
    <p>
     
      <br>
    <div class="mv">
      {{#each movies}}
      <div class="mvProducts">
        <fieldset>
               {{#if user}} 
                <a id="pro"href="/movie/listing/{{this._id}}"> 
                 <img src="/images/{{this.picture}}" />
                  <p  class="name">{{this.title}}</p>
             {{/if}}
           <a id="pro"href="listing/{{this._id}}">
            <img src="{{this.picture}}" />
            <p class="name">{{this.title}}</p></a>
            <a href="/movie/edit/{{this._id}}">
          <span>Edit</span> <br>
          </a>
           <a href="/movie/delete/{{this._id}}?method=DELETE">
           <span>Delete</span></a>
           
         </a>
        </fieldset>
      </div>

      {{/each}}
    </div>
    </p>

    <hr>

    <div class="spolight">
      <div class="numbertext"></div>
      <img src="https://images2.vudu.com/assets/page/banner/187029-1305" style="width:100%">
      <div class="text"></div>
   
  </div>

    <hr>
   
     <a id="containerAll" href="Movie/tv">Featured Tv Shows </a>
    <p>
      
      <br>



    <div class="tv">
      {{#each TV}}
      <div class="tvProducts">
        <fieldset>
          {{#if user}}
          <a id="pro" href="/movie/listing/{{this._id}}">
          <img src="{{this.picture}}" />
            <p class="name">{{this.title}}</p>
          </a>
          {{/if}}
          <a id="pro"href="listing/{{this._id}}">
            <img src="{{this.picture}}" />
            <p class="name">{{this.title}}</p></a>
            <a href="/movie/edit/{{this._id}}">
          <span>Edit</span> <br>
          </a>
           <a href="/movie/delete/{{this._id}}?method=DELETE">
           <span>Delete</span></a>
        </fieldset>
      </div>

      {{/each}}
    </div>
    </p>

    <div class="spolight">
      <div class="numbertext"></div>
      <img src="https://images2.vudu.com/assets/page/banner/187457-1305" style="width:100%">
      <div class="text"></div>
    </div>
  


    



</section>