<section>

<h2>Movie Listing</h2>
 
 <section class="tasks-container">
   

     <form method="POST" action="/task/search">
        <label>Search By</label>
        <select name="task-search">
                <option value="all">All tasks</option>
                <option value="open">Open Tasks</option>
                <option value="on-hold">On Hold Tasks</option>
                <option value="closed">Closed Tasks</option>
                <option value="pending">Pending Tasks</option>
                <option value="low-priority">Low Priority</option>
                <option value="medium-priority">Meidum Priority</option>
                <option value="high-priority">High Priority</option>
        </select>
        <input type="submit" value="Search">
     </form> <br><br>

    <table border="1" style="text-align: center;">
        <thead>
                <th>Movie Title</th> 
                <th>Category</th>
                <th> Year</th>
                <th>Rental Price</th>
                <th>Purchase Price</th>
                <th>Featured</th>
                  <th>Description</th>
                    <th>picture</th>
        </thead>
        <tbody>
         
                <tr>
                   <td>
                        <a href="/movie/listing/{{_id}}" class="task-title">{{this.title}}</a>
                   </td>
                   <td>
                       <span>{{this.titleYear}}</span>
                      
                   </td>
                   <td>
                        <span>{{this.rentalPrice}}</span>
                   </td>
                   <td>
                       <span>{{this.buyPrice}}</span>
                   </td>
                    <td>
                       <span>{{this.description}}</span>
                   </td>
                     <td>
                       <span>{{this.featured}}</span>
                   </td>
                   <td>
                        <a href="/movie/edit/{{this._id}}" class="edit-delete-button">Edit</a>
                        <a href="/movie/delete/{{this._id}}" class="edit-delete-button">Delete</a>
                   </td> 
                </tr>
             
    </tbody>
    </table>


<div id="tasks-links-holder">
    <a href="/movie/add">Add a Movie</a>
</div>

 
</section>