{{!-- <section>

    <h1 id="mvHeader"> Movies</h1>
    <br>

    <div class="mv">
        {{#each MV}}
        <div class="mvProducts">
            <fieldset>
                <a id="pro" href="products/{{this.id}}">
                    <img src="{{this.picture}}" />
                    <p class="name">{{this.title}}</p>
                </a>
            </fieldset>
        </div>

        {{/each}}



</section> --}}


<section>

    <h1 id="mvHeader"> Movies</h1>
    <br>

    <div class="mv">
        {{#each movies}}
        <div class="mvProducts">
            <fieldset>
                {{#if user}}
                <a id="pro" href="products/{{this._id}}">
                    <img src="{{this.picture}}" />
                    <p class="name">{{this.title}}</p>
                </a>
                {{/if}}
                  <a id="pro"href="listing/{{this._id}}">
            <img src="{{this.picture}}" />
            <p class="name">{{this.title}}</p></a>
            <a href="/movie/edit/{{this._id}}">
          <span>Edit</span> <br>
          </a>
           <a href="/movie/delete/{{this._id}}?method=DELETE">
           <span>Delete</span></a>
            </fieldset>
        </div>

        {{/each}}



</section>