<section>


   <div class="pageDescription">
       
    
      <div>
         <p id="title"> {{movie.title}}</p>
         <p id="image"><img src="{{movie.picture}}"/>
         </p>
      
      </div>
      <div class="rating">
         <span id="rating" class="fa fa-star checked"></span>
         <span id="rating" class="fa fa-star checked"></span>
         <span id="rating" class="fa fa-star checked"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>

      </div>
        
      <p id="desc"> {{movie.description}} </p>
       <form action="/movie/payment" class="form-container" method="POST" >
      <p id="price"><button type="submit" class="add" :hover onclick="">BUY <p> $ {{movie.buyPrice}}</p></button>
     
        <button type="submit" class="add" :hover onclick="">RENT <p> $ {{movie.rentalPrice}}</p></button>
         </form>

      </p>
    

   </div>




</section>